.barranquilla-container {
    display: block;
    width: 16rem;
    height: 16rem;
    color: #ffff;
    background-color: var(--azul-suave);
    border-radius: 8px;
    margin: 0;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.barranquilla-container h1 {
    margin: 0;
    padding: 1.25rem 1rem 1rem 1rem;
    font-size: 1.5rem;
    text-align: center;
}

.bq-data {
    padding: 0;
}

.bq-data table {
    padding: 0 0.75rem;
    width: 100%;
}

.bq-data table thead tr {
    border-bottom: 2px solid #ffff;
 }

.bq-data table th, td {
    padding: 0.2rem;
}