.metas-article{
    box-sizing: border-box;
    width: 18rem;
    height: 7rem;
    display: flex;
    flex-direction: column;
    background: linear-gradient(var(--azul-mira), var(--azul-suave));
    color: white;
    border-radius: 5px;
    padding: 1rem;
    gap: .5rem;
}

.foro-article{
    box-sizing: border-box;
    width: 15rem;
    height: 7rem;
    background: linear-gradient(var(--azul-mira), var(--azul-suave));
    color: white;
    border-radius: 5px;
    padding: 1.5rem;
    text-align: center;
}

.metas-article h2, h3,
.foro-article h2 {
    margin: 0;
    text-align: center;
}

.foro-article h2{
    font-size: 2.25rem;
    padding-bottom: 0.25rem;
}

.foro-article span {
    font-size: 1.25rem;
}