/* Fondo oscuro */
.modal-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
}

/* Caja modal centrada */
.modal-content {
  background-color: white;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 25rem;
  position: relative;
}

.modal-content h2 {
  text-align: center;
}

.modal-content form {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: 80vh;
  overflow-y: scroll;
  padding: 0 1.25rem;
  align-items: center;
  box-sizing: border-box;
  overflow-x: hidden;
}

.datos {
  width: 95%;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  background-color: var(--gris-fuerte);
  border-radius: 5px;
  padding: 0.75rem;
}

.datos-grupo {
  width: 95%;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  gap: 3rem;
  background-color: var(--gris-fuerte);
  border-radius: 5px;
  padding: 0.75rem;
}

.sexo, .edad {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.25rem;
}

form section label {
  font-weight: bold;
}

form section input {
  height: 1.25rem;
}

form section select {
  height: 1.5rem;
}

/* Sección de botones del formulario */
.form-button{
  width: 90%;
  height: 2rem;
  display: flex;
  justify-content: end;
  padding: 0.5rem 1rem;
}

#update {
  height: 2rem;
  background-color: white;
  color: var(--azul-mira);
  font-weight: bold;
  border: 2px solid var(--azul-mira);
  border-radius: 5px;
  cursor: pointer;
}

#update:hover {
  background-color: var(--azul-mira);
  color: white;
  border: 1px solid;
}

/* Botón cerrar */
.close-button {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
}

.close-button:hover {
  color: #dc2626;
}
