.login-main {
    height: 100vh;
    margin-top: 0;
    padding: 0;
    background: linear-gradient(var(--azul-mira), var(--azul-suave));
}
.login-form{
    height: 100%;
    display: grid;
    place-items: center;
    align-content: center;
}
.form-container{
    width: 50%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    gap: 2rem;
    border: 2px;
    border-radius: 20px;
    background-color: var(--gris-fuerte);
    box-shadow: 0 1.5rem 0.5rem 0 rgba(21, 21, 21, .2);
}

.form-container h1{
    font-size: 2.5rem;
    color: var(--azul-mira);
    text-shadow: 0.25rem 0.5rem 0.5rem rgba(21, 21, 21, .3);
}

.form-container button{
    cursor: pointer;
    width: 65%;
    height: 2.5rem;
    border: 2px;
    border-radius: 5px;
    font-weight: bold;
    color: #ffff;
    background-color: var(--azul-mira);
    box-shadow: 0 .75rem 0.5rem 0 rgba(21, 21, 21, .2);
}

.form-container button:hover {
    background-color: var(--azul-suave);
}

.credentials{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 65%;
}

.credentials label{
    font-size: large;
    font-weight: bold;
    color: var(--azul-mira);
    text-shadow: 0.25rem 0.5rem 0.5rem rgba(21, 21, 21, .3);
}

.credentials input{
    height: 2.25rem;
    width: 100%;
    border: 2px;
    border-radius: 5px;
    box-shadow: 0 .75rem 0.5rem 0 rgba(21, 21, 21, .2);
    text-indent: 10px;
    font-size: medium;
}

.credentials div {
    width: 100%;
    display: flex;
    gap: 0.5rem;
    align-items: center;
} 

.credentials div span {
    cursor: pointer;
    text-shadow: 0.25rem 0.5rem 0.25rem rgba(21, 21, 21, .3);
} 

@media screen and (max-width: 768px) {

    .form-container{
        width: 70%;
        height: 80vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .form-container h1 {
        text-align: center;
    }

    .form-container section {
        width: 75%;
    }

    .form-container button {
        width: 75%;
    }
    
}