.soledad-container {
    display: block;
    width: 16rem;
    height: 12rem;
    color: #ffff;
    background-color: var(--azul-suave);
    border-radius: 8px;
    margin: 0;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.soledad-container h1 {
    margin: 0;
    padding: 1.25rem;
    font-size: 1.5rem;
    text-align: center;
}

.soledad-data {
    padding: 0;
}

.soledad-data table {
    padding: 0 1rem;
    width: 100%;
}

.soledad-data table th, td {
    padding: 0.2rem;
}