.main-table {
  height: 92vh;
  width: 100%;
  box-sizing: border-box;
}

.table-container{
    height: 100%;
    overflow-x: auto;
    overflow-y: auto;
}
  .lideres-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th,
  .table td {
    padding: 8px;
    border: 1px solid #ccc;
  }
  
  .table-header {
    background-color: #007BFF;
    color: white;
  }

  .table td {
    white-space: nowrap;
  }
  
  
  .align-left {
    text-align: left;
  }
  
  .align-center {
    text-align: center;
  }