.main-table {
  width: 100%;
  height: 92vh;
  box-sizing: border-box;
}

/* Estilos de las barras superiores */
.fila {
  width: 100%;
  align-content: center;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  gap: 0.5rem;
  box-sizing: border-box;
}

.filter-input {
  display: flex;
  flex-direction: row;
  gap: 0.20rem;
  width: 30%;
  gap: 0.5rem;
  align-items: center;
}

.filter-input input {
  width: 100%;
  box-sizing: border-box;
  height: 100%;
  padding: 0 0.75rem;
}

.right-buttons {
  width: 55%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filters-buttons {
  display: flex;
  gap: 1.5rem;
}

.right-buttons button {
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
}

#filtrar {
  width: 6rem;
  border: 2px solid var(--azul-mira);
  border-radius: 3px;
  background-color: white;
  align-content: center;
}

#filtrar:hover {
  background-color: var(--azul-mira);
  color: white;
  font-weight: bold;
}

#borrar-filtro {
  width: 6rem;
  border: 2px solid;
  border-radius: 3px;
  background-color: white;
  align-content: center;
}

#borrar-filtro:hover {
  background-color: var(--gris-fuerte);
  font-weight: bold;
}

#descargar {
  border: 2px solid green;
  border-radius: 5px;
  background-color: white;
}

#descargar:hover{
  background-color: green;
  color: white;
  font-weight: bold;
}

/* Estilos de las tablas */
.dataTable-container {
  max-height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.rdt_TableCol {
  background-color: var(--azul-suave);
  color: white;
  font-weight: bold;
  font-size: medium;
}
  
.align-left {
  text-align: left;
}
  
.align-center {
  text-align: center;
}

@media screen and (max-width: 768px) {

  .fila {
    flex-direction: column;
    height: auto;
    gap: 1rem;
  }

  .filter-input {
    width: 100%;
    height: 2rem;  
  }

  .right-buttons {
    width: 100%;
  }

  #descargar {
    height: 2.25rem;
  }

  .main-table {
    overflow-y: scroll;
  }
  
}