@font-face {
  font-family: 'Proxima';
  src: url('./fonts/Proxima_Nova_Font.otf') format('otf');
  font-family: 'Proxima';
  src: local('Proxima'), url(./fonts/Proxima_Nova_Font.otf) format('truetype');
}

:root{
  --azul-mira: #003e8e;
  --azul-fuerte: #00569f;
  --azul-medio: #0060a8;
  --azul-suave: #006bb1;
  --gris-fuerte: #cbccd1;
  --gris-medio: #e0e1e5;
  --gris-suave: #f5f5f7;
}

html, body {
  font-family: 'Proxima';
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Proxima';
  width: 100dvw;
  height: 100dvh;
}

h1, h2, h3, h4, fieldset {
  margin: 0;
}

.main-app {
  height: 100dvh;
  box-sizing: border-box;
  padding-top: 3rem;
}
